body {
  font-family: 'Kanit', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  max-width: 800px;
  width: 100%;
  padding: 40px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}



.experience, .skills, .contact, .hackathons, .education {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.8em;
  border-bottom: 2px solid #ff4444;
  padding-bottom: 10px;
  color: #ff4444;
  margin-left: 20px;
}

h3 {
  font-size: 1.5em;
  color: #FFE4B5;
  margin-bottom: 10px;
}


ul li {
  margin-bottom: 10px;
  color: #e0e0e0;
}



a {
  color: #ff6666;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #FFE4B5;
  text-decoration: underline;
}